{% extends 'index.html.twig' %}

{% block title %}New Doctor{% endblock %}
{% block link %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,-25" />
    <link href="{{ asset('libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css1/bootstrap.min.css') }}" rel="stylesheet" type="text/css" id="app-style" />
    <link href="{{ asset('css1/app.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css1/icons.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
                    <div class="content">

                        <!-- Start Content-->
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <a href="{{ path('app_doctor_index') }}" class="btn btn-primary waves-effect waves-light">back to list</a>
                                        </div>

                                        <h4 class="page-title">Create new Doctors</h4>

                                    </div>
                                </div>
                            </div>
    {{ include('doctor/_form.html.twig') }}



                        </div> <!-- container -->

                    </div>

{% endblock %}
