{% extends 'base.html.twig' %}


{% block tag %}
    <link href="{{ url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') }}">

{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
    <link rel="stylesheet" href="{{ asset('signup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">

                        <h3 class="text-center mb-4">Appointment</h3>

                        {{ form_start (form) }}
                        {% set doctor = form.vars.data.doctor %}
                        {% if doctor is not null %}
                            {# Display the doctor's name in the form #}
                            <p>Doctor: {{ doctor.name }}</p>
                        {% endif %}
                        {{ form_widget(form) }}

                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">{{ button_label|default('Confirm') }}</button>
                        {{ form_end (form)}}
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
