{% extends 'index.html.twig' %}


{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Appointment list</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment  in appointments %}
                            <tr>
                                <td>{{ appointment.lastname }}</td>
                                <td>{{ appointment.firstname }}</td>
                                <td>{{ appointment.email}}</td>
                                <td>{{ appointment.telephone }}</td>
                                <td>{{ appointment.date|date('d-m-Y') }}</td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
