{% extends 'index.html.twig' %}
{% block link %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,-25" />
    <link href="{{ asset('libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css1/bootstrap.min.css') }}" rel="stylesheet" type="text/css" id="app-style" />
    <link href="{{ asset('css1/app.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css1/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block body %}
                    <div id="wrapper">
                        <div class="content-page">
                            <div class="content">
                                <!-- Start Content-->
                                <div class="container-fluid">
                                    <!-- start page title -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="page-title-box">
                                                <h4 class="page-title">Contacts</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end page title -->


                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                    <table class="table table-centered table-nowrap table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact  in contacts %}
                            <tr>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.email}}</td>
                                <td>{{ contact.subject }}</td>
                                <td>{{ contact.message }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                                                    </div>

                                                    <ul class="pagination pagination-rounded justify-content-end mb-0">
                                                        <li class="page-item">
                                                            <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                                                <span aria-hidden="true">«</span>
                                                                <span class="visually-hidden">Previous</span>
                                                            </a>
                                                        </li>
                                                        <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                                                <span aria-hidden="true">»</span>
                                                                <span class="visually-hidden">Next</span>
                                                            </a>
                                                        </li>
                                                    </ul>

                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </div> <!-- end col -->
                                    </div>
                                    <!-- end row -->

                                </div> <!-- container -->

                            </div> <!-- content -->

                            <!-- Footer Start -->
                            <!-- end Footer -->

                        </div>

                        <!-- ============================================================== -->
                        <!-- End Page content -->
                        <!-- ============================================================== -->


                    </div>


{% endblock %}
